.test-header {
  margin:0 auto;
  text-align: center;
}

.choise {
  margin: 10px 35px;
  border: 2px solid $brown;
  border-radius: 8px;
}

.radio_pair li {
  list-style: none;
  padding: 10px 5px;
}

.answer {
  margin: 10px auto;
  text-align: center;
}

.you-are {
  margin: 15px 0 15px 0;
  font-size: x-large;
  min-height: 30px;
}