main.info {
  margin: 0 auto;
  width: 97%;
  max-width: 960px;

  @media screen and (min-width: 600px) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;

    aside.info_title {
      flex: 1 0 20%;
    }

    section.info_content {
      margin-left: 10px;
      width: 80%;

      .content_item {

        display: none;

        img {
          width: 100%;
        }

        .doc-list {
          a{
            display: inline-block;
            list-style: none;
            padding: 6px 10px;
            text-decoration: none;
            border: 1px solid $brown;
            width: 100%;
            color: $brown;
          }
        }
      }
    }
  }

  aside.info_title {
    background: $brown;

    ul{
      li{
        color: $beige;
        list-style: none;
        display: inline-block;
        float: left;
        margin-left: 3px;
        padding: 6px 10px;
        cursor: pointer;

        &:hover{
          color: darken($beige, 10%);
        }

        @media screen and (min-width: 600px) {
          display: block;

        }
      }
    }
  }
}


/*
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 90%;

         .side_menu {
           width: 25%;
           margin-bottom: 50px;

           .submenu li {
             margin: 5px 3px;
             padding: 5px 3px;
             list-style: none;
             border: 1px solid $brown;
             box-shadow: 0 0 4px rgba(4, 4, 4, .6);
           }
           .submenu :first-child {
             margin-top: 0;
           }

           .submenu li a {
             color: $brown;
             display: inline-block;
             text-decoration: none;
             height: 100%;
             width: 100%;
           }
         }

.palindrom {
  width: 74%;
  border: 1px solid $brown;
  !*box-shadow: 0 0 8px rgba(4, 4, 4, .6);*!
  !*margin-bottom: 10px;*!
  height: auto;

  #dopal {
    display: inline-block;
    width: 170px;
    height: 45px;
    padding: 3px;
    font-size: 20px;
  }

  #pal{
    height: 35px;
    font-size: 20px;
  }
  #palend{
    height: 35px;
    font-size: 20px;
  }
  .answer{
    margin-bottom: 50px;
  }
}

!*@media screen and (min-width: 980px) {
  .palindrom {
    width: 100%;
  }

  .side_menu {
    width: 100%;
  }
}*!

@media screen and (max-width: 650px) {
  .palindrom {
    width: 100%;
  }

  .side_menu {
    width: 100%;
  }
  .submenu li {
    float: left;
  }
}

@media screen and (max-width: 480px) {
  .palindrom {
    width: 100%;
  }

  .side_menu {
    width: 100%;
  }

  html {
    -webkit-text-size-adjust: none;
  }
}*/
