.menu-top {
  ul li {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    //margin-right: 5px;
    position: relative;



    &:hover > .submenu{
      visibility: visible;
    }

    a {
      text-decoration: none;
      color: $brown;
      padding: 3px 8px;

      &:hover {
        color: rgba($beige, .8);
        background: $brown;
      }

    }


  }



  .submenu {
    position: absolute;
    visibility: hidden;
    background: $beige;
    width: auto;
    padding: 3px;

    @media screen and (max-width: 1100px) {

      display: none;
    }


    li {
      margin: 0;
      font-size: 18px;
     // display: block;
    }
  }
}

.active {
  border: 0.5px solid $brown;
}
