.menu-top {
  ul li {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    //margin-right: 5px;
    position: relative;

    &:hover > .submenu{
      visibility: visible;
    }

    a {
      text-decoration: none;
      color: $brown;
      padding: 3px 8px;
      transition: 0.5s all ease;
      &:hover {
        color: rgba($beige, .8);
        background: $brown;

      }
    }
    /*.sand_button{
      width: 32px;
      height: 32px;
      background: url("/assets/images/sand_menu.png") no-repeat center/cover;
      display: none;
    }*/


  }

  @media screen and (max-width: 720px) {
    width: 100%;
    display: none;
    transition: all 1s;
    margin-top: 80px;



    ul {
      padding: 0;


      li {
        display: block;
        border-bottom: 2px solid $brown;
        text-align: center;

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 5px 1px;
          transition: 0s;
        }
      }
    }


  }
  .submenu {
    position: absolute;
    visibility: hidden;
    background: $beige;
    padding: 3px;

    @media screen and (max-width: 1100px) {

      display: none;
    }


    li {
     // margin: 0;
      font-size: 18px;
      width: 100%;
     // display: block;
    }


    }

  .submenu li > a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px 1px;
      transition: 0s;
    }


}

.active {
  border: 0.5px solid $brown;
}

.mobile-menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;

  @media screen and (min-width: 721px){
    display: none;
  }

  span,
  span::before,
  span::after {
    content: '';
    display: block;
    height: 3px;
    background-color: $brown;
    position: relative;
  }
  span{
    top:10px;
  }
  span::before{
    top: 10px;
  }
  span::after{
    top: 17px;
  }
}
