@import 'normalize', 'vars', 'header', 'index', 'nav', 'footer', 'news', 'badeye', 'choice', 'article', 'tags';

html {
    background: $beige;
    box-sizing: border-box;
    color: $brown;
    height: 100%;

}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
