.menu-top {
  ul li {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    margin-right: 15px;
    position: relative;

    &:hover > .submenu{
      visibility: visible;
    }

    a {
      text-decoration: none;
      color: $brown;

      &:hover {
        border-bottom: 2px solid $brown;
        color: rgba($brown, .8)
      }
    }
  }


  .submenu {
    position: absolute;
    visibility: hidden;
    background: yellow;
    width: auto;
    padding: 3px;

    li {
      margin: 0;
    }
  }
}

.active {
  font-size: 30px;
}