---
permalink: information/
layout: default
---
<main class="info">

  <aside class="info_title">
      <ul>
          {% for info in site.information_oo %}
          <li>{{info.title}}</li>
          {% endfor %}
      </ul>
  </aside>
    <section class="info_content">
        {% for info in site.information_oo %}

            <div id="{{info.title}}" class="content_item">
                <h2>{{info.title}}</h2>
                {{info.content}}
            </div>

        {% endfor %}
    </section>
</main>

<script>
    let aside = document.getElementsByTagName('aside');
    let anchors = aside[0].getElementsByTagName('li');
    let items = document.getElementsByClassName('content_item');

    let curr_item = items[0];
    curr_item.style.display = 'block';

    Array.prototype.forEach.call(anchors, anchor => {

        anchor.onclick = function (event) {

            if(!event.hasOwnProperty(curr_item)) {
                curr_item.style.display = 'none';
                curr_item = items[anchor.innerHTML];
                curr_item.style.display = 'block';

            }
        };


    });
</script>