<div class="badeye" id="badeye">

    <button id="font_normal" class="btn" onclick="Normal()"> </button>

    <button id="font_middle" class="btn" onclick="Middle()"></button>

    <button id="font_big" class="btn" onclick="Big()"></button>

    <div class="w-b"><label class="label">Фон</label><button id="fon-color" class="btn" onclick="Black()">чёрный</button></div>

    <div class="h-s"><label class="label">Изображения</label><button id="hide-img" class="btn" onclick="Hide()">скрыть</button></div>

    <button id="back" class="btn" onclick="Back()">к обычной версии</button>

</div>