<head>
    <meta charset="UTF-8">
    <title>ГКОУ РО "Ростовская специальная школа-интернат №48"</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="/assets/styles/main.css">

    {% if page.url == '/' %}
    <link rel="stylesheet" href="/assets/styles/slider.css">
    {% endif %}

    {% if page.url == '/contacts/' %}
    <link rel="stylesheet" href="/assets/styles/slider_jq.css">
    {% endif %}



    <script src="/assets/js/jquery-3.2.1.min.js"></script>

</head>
