@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab");
* {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px; }
  header .eye {
    font-size: 24px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 0; }
    header .eye a {
      text-decoration: none;
      color: #80542F; }
      header .eye a:hover {
        color: rgba(209, 188, 138, 0.8);
        background: #80542F; }
  header .school-name {
    font-size: 14px;
    font-family: "Roboto Slab", serif; }
  header .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: beige;
    width: 100%;
    padding-top: 10px; }
    header .hero .avatar {
      background: url("/assets/images/summer.jpg") no-repeat center/cover;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      border: 2px solid #D1BC8A;
      box-shadow: 0 0 15px rgba(4, 4, 4, 0.5);
      margin-right: 40px; }
    header .hero .title {
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
      max-width: 80%; }
      header .hero .title .short {
        font-size: 42px;
        font-family: "Roboto Slab", serif;
        margin-bottom: 0; }
        header .hero .title .short .full {
          float: right;
          font-family: Roboto, serif;
          font-size: 20px;
          font-weight: 100; }

main {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  max-width: 90%; }
  @media screen and (min-width: 960px) {
    main .note {
      width: 44%; } }
  main .note p {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    padding: 10px 30px;
    text-align: justify; }
  main .note .timer {
    width: 100%;
    height: 50px; }
  @media screen and (min-width: 960px) {
    main section.pict {
      width: 44%; } }
  main section.pict .mini-gallery ul {
    margin: 0;
    padding: 0;
    column-count: 3;
    column-gap: 0; }
  main section.pict .mini-gallery li {
    list-style: none;
    line-height: 0; }
  main section.pict .mini-gallery img {
    width: 100%;
    height: 130px;
    object-fit: cover; }
  main .back_colorbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none; }
  main .big_img_colorbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    z-index: 10; }

.menu-top ul li {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  position: relative; }
  .menu-top ul li:hover > .submenu {
    visibility: visible; }
  .menu-top ul li a {
    text-decoration: none;
    color: #80542F;
    padding: 3px 8px; }
    .menu-top ul li a:hover {
      color: rgba(209, 188, 138, 0.8);
      background: #80542F; }

.menu-top .submenu {
  position: absolute;
  visibility: hidden;
  background: #D1BC8A;
  width: auto;
  padding: 3px; }
  @media screen and (max-width: 1100px) {
    .menu-top .submenu {
      display: none; } }
  .menu-top .submenu li {
    margin: 0;
    font-size: 18px; }

.active {
  border: 0.5px solid #80542F; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #80542F;
  color: #D1BC8A;
  padding: 25px 15px; }
  footer nav.menu-bottom ul {
    list-style: none;
    padding: 0; }
    footer nav.menu-bottom ul li {
      display: block;
      font-size: 80%;
      margin-bottom: 3px; }
      footer nav.menu-bottom ul li a {
        text-decoration: none;
        color: #D1BC8A;
        font-size: 15px; }
    footer nav.menu-bottom ul .submenu {
      display: none; }
  footer .social ul {
    padding: 0;
    list-style: none; }
    footer .social ul li {
      display: inline-block;
      height: 67px;
      width: 67px;
      margin-right: 15px; }
      footer .social ul li:nth-child(1) {
        background-color: #D1BC8A;
        -webkit-mask: url("/assets/images/icons/youtube.svg"); }
      footer .social ul li:nth-child(2) {
        background-color: #D1BC8A;
        -webkit-mask: url("/assets/images/icons/facebook.svg"); }
      footer .social ul li:nth-child(3) {
        background-color: #D1BC8A;
        -webkit-mask: url("/assets/images/icons/twitter.svg"); }
      footer .social ul li:nth-child(4) {
        background-color: #D1BC8A;
        -webkit-mask: url("/assets/images/icons/google.svg"); }
      footer .social ul li a {
        display: block;
        height: 100%; }
  footer .logo {
    font-size: 20px;
    font-family: "Roboto Slab", serif; }

main.news {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  align-self: center; }
  main.news .widgets {
    width: 100%;
    order: -1;
    text-align: center;
    margin: 20px auto; }
    main.news .widgets .tag-list {
      white-space: nowrap;
      overflow-x: scroll; }
      main.news .widgets .tag-list::-webkit-scrollbar {
        width: 0; }
    main.news .widgets .tag-item {
      display: inline-block;
      background: #7e5460;
      color: #D1BC8A;
      padding: 3px 8px; }
    @media screen and (min-width: 960px) {
      main.news .widgets {
        width: 25%;
        order: 0; } }
  main.news .post-list {
    min-width: 720px; }
    main.news .post-list .post {
      margin-bottom: 40px;
      display: flex; }
      main.news .post-list .post:nth-child(2n) .poster {
        order: 1;
        margin-right: 0px;
        margin-left: 20px; }
      main.news .post-list .post .poster {
        display: none;
        object-fit: cover; }
        @media screen and (min-width: 500px) {
          main.news .post-list .post .poster {
            display: inline-block;
            margin-right: 20px; } }
      main.news .post-list .post .post-preview a {
        color: #80542F; }
      main.news .post-list .post .post-preview .meta, main.news .post-list .post .post-preview .date {
        font-family: "Open Sans", serif;
        display: inline-block; }
      main.news .post-list .post .post-preview .meta {
        background: #7e5460;
        color: #D1BC8A;
        padding: 3px 8px; }
      main.news .post-list .post .post-preview .date {
        float: right; }

.hide {
  display: none  !important; }

.black {
  background: black;
  color: white; }

label.label {
  font-size: 35px;
  margin-right: 10px; }

.tobadeye {
  background: url("/assets/images/blind.png") no-repeat center/cover;
  background-size: 250px 60px;
  float: right;
  margin-top: 15px;
  margin-right: 5px;
  cursor: pointer;
  width: 250px;
  height: 60px; }

.badeye {
  display: none;
  width: 100%;
  top: 0; }

.visible {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  background-color: chocolate; }

.unvisible {
  display: none; }

.badeye .btn {
  border: 1px solid black;
  border-radius: 6px;
  font-size: 30px;
  padding: 15px 25px;
  cursor: pointer; }

div.badeye div.h-s button {
  width: 175px;
  cursor: pointer; }

div.badeye div.w-b button {
  width: 156px;
  cursor: pointer; }

#font_normal {
  background: url("/assets/images/small_font.png") no-repeat center;
  padding: 15px 25px;
  width: 26px;
  height: 26px;
  cursor: pointer; }

#font_middle {
  background: url("/assets/images/middle_font.png") no-repeat center;
  padding: 15px 25px;
  width: 54px;
  height: 50px;
  cursor: pointer; }

#font_big {
  background: url("/assets/images/big_font.png") no-repeat center;
  padding: 15px 25px;
  width: 78px;
  height: 74px;
  cursor: pointer; }

.test-header {
  margin: 0 auto;
  text-align: center; }

.choise {
  margin: 10px 35px;
  border: 2px solid #80542F;
  border-radius: 8px; }

.radio_pair li {
  list-style: none;
  padding: 10px 5px; }

.answer {
  margin: 10px auto;
  text-align: center; }

.you-are {
  margin: 15px 0 15px 0;
  font-size: x-large;
  min-height: 30px; }

main.article {
  margin: 15px auto;
  width: 95%;
  max-width: 960px; }
  main.article img {
    max-width: 100%; }

main.tags {
  margin: 20px auto;
  width: 80%;
  max-width: 400px; }
  main.tags div {
    margin: 10px auto; }

html {
  background: #D1BC8A;
  box-sizing: border-box;
  color: #80542F;
  height: 100%; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

main {
  flex-grow: 1; }
